.Toastify__toast--info { 
    border-color: #009da0!important;
    background-color: #00c0c4!important;
    color: #000!important;
    text-align: center!important;
}
.Toastify__toast--success {
    border-color: #0cc27e!important;
    background-color: #0ee494!important;
    color: #021a11!important; 
    text-align: center!important;
}
.Toastify__toast--warning {
    border-color: #ff8d60!important;
    background-color: #ffa784!important;
    color: #ad3100!important;
    text-align: center!important;
}
.Toastify__toast--error {
    background-color: #ff7c8b!important; 
    border-color: #ff586b!important; 
    color: #a50013!important;
    text-align: center!important;
}
